<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="/javascripts/vue-2.6.12.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/javascripts/axios.js"></script>
</head>
<body>
  <div id="user" class="userPage" ref="userDom">
    <user-table />
  </div>
  <script src="/js/user.js"></script>
</body>
</html>